{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "3",
        "targets": {
          "esmodules": true,
          "node": "current",
          "browsers": ["last 2 versions", "ie >= 11"]
        }
      }
    ]
  ]
}
